{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="https://github.com/oxidmod/Messages/blob/master/src/Application/Command/AggregateLog/AggregateLogHandler.php" target="_blank">Task 1 (SQL)</a>
        </li>
        <li>
            <a href="https://github.com/oxidmod/Messages/blob/master/src/Application/Query/AggregatedLog/AggregatedLogHandler.php" target="_blank">Task 2 (PHP)</a>
        </li>
        <li>
            <a href="{{ path('get_logs') }}">Task 3 (Front end)</a>
        </li>
        <li>
            <a href="{{ path('send_message') }}">Send message</a>
        </li>
    </ul>
{% endblock %}